$color-Dark-Slate-Grey: hsl(234, 29%, 20%);
$color-Charcoal-Grey: hsl(235, 18%, 26%);
$color-White: hsl(0, 0%, 100%);
$color-Dark-Navy: #242742;
$color-grey: rgba(0, 0, 0, 0.25);
$color-btn-hover: linear-gradient(204deg, #FF6A3A 0%, #FF527B 100%);
$color-btn-box-shadow: rgba(255, 97, 85, 0.50);
$color-vermellion: #FF6155;
$color-input-back-error: rgba(255, 97, 85, 0.15);